body{
    font-family : Arial, Helvetica, sans-serif;
    text-align: center;
    margin : 0;
    padding : 0;
}

h1{
    color : #333;
    margin-top : 20px;
}

a{
    color : #666;
    font-size : 16px;
    line-height : 1.5;
    margin : 20px;
}

a:hover{
    color : #000;
    text-decoration : underline;
}

ul{
    list-style-type : none;
    padding : 0;
}

li{
    margin : 10px 0;
}
